.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #E8EDED;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  display: flex;
  align-content: space-evenly;
  justify-content: space-evenly;
  
  flex-wrap: wrap;
  flex: 0 1;
  gap: 1em;
}

.container img{
  flex: 1 0 auto;
  max-width: 100%;
  width: fit-content;
  height: auto;
  max-height : 320px;
  min-height: 240px;
}


